@import url(https://fonts.googleapis.com/css?family=Abel);
.tcb-product-slider {
}
.tcb-product-slider .carousel-control {
  width: 5%;
}
.tcb-product-item a {
  color: #147196;
}
.tcb-product-item a:hover {
  text-decoration: none;
}
.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}
.tcb-product-photo {
  text-align: center;
  height: 180px;
  background: #fff;
}
.tcb-product-photo img {
  height: 100%;
  display: inline-block;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}
.tcb-product-title h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tcb-product-rating {
  color: #acacac;
}
.tcb-product-rating .active {
  color: #ffb500;
}
.tcb-product-price {
  color: firebrick;
  font-size: 18px;
}

.details {
  margin: 50px 0;
}
.details h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 3px;
}
.details .back-link {
  text-align: center;
}
.details .back-link a {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 30px;
  background: #333;
  color: #fff;
  border-radius: 24px;
}
.details .back-link a svg {
  margin-right: 10px;
  vertical-align: text-top;
  display: inline-block;
}

.previous {
  background-color: #7e57c2;
  color: white;

  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-right: 10px;
}

.next {
  background-color: #7e57c2;
  color: white;

  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.round {
  border-radius: 50%;
}

.top-product-set.hidden {
  display: none;
}

/**pie chart */
.pc1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.pc1 svg:before {
  content: #d2e0e0;
  display: block;
}
.pc1 svg {
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}
.pc1 svg .percent-circle-inner {
  fill: #d2e0e0;
  stroke: #01b2aa;
  stroke-width: 80px;
  stroke-dasharray: 0 628.318px;
  transition: stroke-dasharray 0.6s ease-out;
}
.pc1:after {
  content: attr(data-percent) "%";
  display: block;
  width: 120px;
  height: 120px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 40px;
  border-radius: 50%;
  color: #01b2aa;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
}
.pc2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.pc2 svg:before {
  content: #efefef;
  display: block;
}
.pc2 svg {
  width: 300px;
  height: 300px;
  transform: rotate(-90deg);
}
.pc2 svg .percent-circle-inner {
  fill: #efefef;
  stroke: #f90;
  stroke-width: 120px;
  stroke-dasharray: 0 942.477px;
  transition: stroke-dasharray 0.6s ease-out;
}
.pc2:after {
  content: attr(data-percent) "%";
  display: block;
  width: 180px;
  height: 180px;
  background: #fff;
  position: absolute;
  top: 60px;
  left: 60px;
  border-radius: 50%;
  color: #f90;
  text-align: center;
  line-height: 180px;
  font-size: 60px;
}
.pc3 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.pc3 svg:before {
  content: #dfd0d8;
  display: block;
}
.pc3 svg {
  width: 120px;
  height: 120px;
  transform: rotate(-90deg);
}
.pc3 svg .percent-circle-inner {
  fill: #dfd0d8;
  stroke: #af015e;
  stroke-width: 10px;
  stroke-dasharray: 0 376.9908px;
  transition: stroke-dasharray 0.6s ease-out;
}
.pc3:after {
  content: attr(data-percent) "%";
  display: block;
  width: 110px;
  height: 110px;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  color: #af015e;
  text-align: center;
  line-height: 110px;
  font-size: 24px;
}
.hidden {
  display: none;
}
