//fonts
$primaryFont: "Roboto";
$bold: "Sequel Sans Black";
// $light:'Euclid Circular A Light

//colors
$primary: #0253c8;
$blue: #0253c8;
$text: #01265b;
$inactive: #788291;
$body: #30415a;
$white: #ffffff;
$black: #273444;
$grey: #4d4d4d;

$green: #32bea6;
$secondary: #00114d;
$dark: #212121;
$nearWhite: #fafafa;
$grey-c: #cccccc;
$grey-3: #333333;
$grey-9: #999999;
$grey-6: #666666;
$purple: #e5ebff;
$border: 1px solid #e6e6e6;
