.card-box {
  padding: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.bar-widget .iconbox {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  background-clip: padding-box;
  color: #ffffff;
  text-align: center;
}
.bar-widget .iconbox i {
  line-height: 50px;
  font-size: 20px;
}
/* Social type widgets */
.widget-profile-one .card-box {
  border-radius: 0px;
}
.widget-profile-one .card-box:first-of-type {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.widget-profile-one .card-box:last-of-type {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.table-box {
  display: table;
  height: 100%;
  width: 100%;
}
.table-box .table-detail {
  display: table-cell;
  vertical-align: middle;
}

.widget-panel {
  padding: 30px 20px;
  padding-left: 30px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
.widget-panel i {
  font-size: 60px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  line-height: 60px;
}
.widget-style-2 i {
  background: "#fff";
  font-size: 48px;
  padding: 30px 40px;
}















