/* Background colors */
.bg-custom {
  background-color: #7e57c2 !important;
}
.bg-primary {
  background-color: #5d9cec !important;
}
.bg-success {
  background-color: #81c868 !important;
}
.bg-info {
  background-color: #34d3eb !important;
}
.bg-warning {
  background-color: #ffbd4a !important;
}
.bg-danger {
  background-color: #f05050 !important;
}
.bg-muted {
  background-color: #f4f8fb !important;
}
.bg-inverse {
  background-color: #4c5667 !important;
}
.bg-purple {
  background-color: #7266ba !important;
}
.bg-pink {
  background-color: #fb6d9d !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-lightdark {
  background-color: #f4f8fb !important;
}
/* Text colors */
.text-custom {
  color: #7e57c2;
}
.text-white {
  color: #ffffff;
}
.text-danger {
  color: #f05050;
}
.text-muted {
  color: #98a6ad;
}
.text-primary {
  color: #5d9cec;
}
.text-warning {
  color: #ffbd4a;
}
.text-success {
  color: #81c868;
}
.text-info {
  color: #34d3eb;
}
.text-inverse {
  color: #4c5667;
}
.text-pink {
  color: #fb6d9d;
}
.text-purple {
  color: #7266ba;
}
.text-dark {
  color: #797979 !important;
}
