.boxes {
  /*margin: auto;
  padding: 50px;*/
  /*background: #484848;*/
}

/*Checkboxes styles*/
.course-category input[type="checkbox"] {
  display: none;
  margin: 12px;
}


.mecheck {
  display: none;
}

.course-category input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.course-category input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

.course-category input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.course-category input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}




.controlsFilter{
  padding: 2%;
  
  color: #eee;
}

.controlsFilter label{
  font-weight: 300;
  margin: 0 .4em 0 0;
  font-family:  "Open Sans", Arial, sans-serif;
}

.controlsFilter button{
  display: inline-block;
  padding: .4em .8em;
  background: blue;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

.controlsFilter button.active{
  background: #68b8c4;
}

.controlsFilter button:focus{
  outline: 0 none;
}

.controlsFilter button + label{
  margin-left: 1em;
}
