.circle {
  line-height: 0; /* remove line-height */
  display: inline-block; /* circle wraps image */
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%; /* relative value */
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  transition: linear 0.25s;
  height: 200px;
  width: 200px;
}
.circle img {
  border-radius: 50%; /* relative value for
				   adjustable image size */
}
.circle:hover {
  transition: ease-out 0.2s;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */

.profile-badge {
  border: 1px solid #c1c1c1;
  padding: 5px;
  position: relative;
}

.user-detail {
  background-color: #fff;
  position: relative;
  padding: 115px 0px 10px 0px;
  color: #8b8b89;
}
.user-detail h3 {
  margin: 0px;
  margin: 0px 0px 5px 0px;
  color: #000;
}
.user-detail p {
  font-size: 14px;
}
.user-detail .btn {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 0px;
  color: black;
}
.user-detail .btn i {
  color: #d35b4d;
  padding-right: 18px;
}
.profile-pic {
  position: absolute;
  height: 120px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  z-index: 1001;
  padding: 10px;
}
.profile-pic img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #c1c1c1;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
