<section class="menu-area">
  <div class="container-xl">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="mobile-header-buttons">
            <li>
              <a class="mobile-nav-trigger" href="#mobile-primary-nav"
                >Menu<span></span
              ></a>
            </li>
            <li>
              <a class="mobile-search-trigger" href="#mobile-search"
                >Search<span></span
              ></a>
            </li>
          </ul>

          <a href="#" class="navbar-brand">
            <img src="#uploads/system/logo-dark.png" alt="" height="35" />
          </a>

          <div class="main-nav-wrap">
            <div class="mobile-overlay"></div>

            <ul class="mobile-main-nav">
              <div class="mobile-menu-helper-top"></div>

              <li class="has-children">
                <a href="">
                  <i class="fas fa-th d-inline"></i>
                  <span>Courses</span>
                  <span class="has-sub-category"
                    ><i class="fas fa-angle-right"></i
                  ></span>
                </a>

                <ul class="category corner-triangle top-left is-hidden pb-0">
                  <li class="go-back">
                    <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                  </li>

                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>ARTS &amp; HUMANITIES </span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          ARTS &amp; HUMANITIES
                        </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=education">Education</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=history">History</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=political-science"
                          >Political Science</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=sociology">Sociology</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=geography">Geography</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=media-and-journalism"
                          >Media and Journalism</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=architecture"
                          >Architecture</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>BUSINESS</span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          BUSINESS
                        </a>
                      </li>
                      <li>
                        <a
                          href="#home/courses?category=business-process-management"
                          >Business Process Management
                        </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=service-management"
                          >Service Management</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=supply-chain-management"
                          >Supply Chain Management</a
                        >
                      </li>
                      <li>
                        <a
                          href="#home/courses?category=sales-and-marketing-management"
                          >Sales and Marketing Management</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=risk-management"
                          >Risk Management</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=customer-service"
                          >Customer Service</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=business-leadership"
                          >Business Leadership</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=human-resources"
                          >Human Resources</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=finance-and-banking"
                          >Finance and Banking</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=accounting"
                          >Accounting</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>HEALTH CARE</span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          HEALTH CARE
                        </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=nursing">Nursing </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=disease-and-disorders"
                          >Disease and Disorders</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=nutrition">Nutrition</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=caregiving"
                          >Caregiving</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=pharmacology"
                          >Pharmacology</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>LAW &amp; SOCIAL SCIENCES</span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          LAW &amp; SOCIAL SCIENCES
                        </a>
                      </li>
                      <li><a href="#home/courses?category=law">Law</a></li>
                      <li>
                        <a href="#home/courses?category=economics">Economics</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=psychology"
                          >Psychology</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>INFORMATION TECHNOLOGY</span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          INFORMATION TECHNOLOGY
                        </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=network-and-security"
                          >Network and security</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=it-management"
                          >IT Management</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=digital-marketing"
                          >Digital Marketing</a
                        >
                      </li>
                      <li>
                        <a
                          href="#home/courses?category=web-site-and-application-development"
                          >Web Site and Application Development</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>MATHEMATICS </span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          MATHEMATICS
                        </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=ss1-mathematics"
                          >SS1 Mathematics</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=ss2-mathematics"
                          >SS2 Mathematics</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=ss3-mathematics"
                          >SS3 Mathematics</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>ENGINEERING AND PHYSICAL SCIENCES</span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          ENGINEERING AND PHYSICAL SCIENCES
                        </a>
                      </li>
                      <li>
                        <a
                          href="#home/courses?category=computer-science-and-engineering"
                          >Computer Science and Engineering</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=electrical-engineering"
                          >Electrical Engineering
                        </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=mechanical-engineering"
                          >Mechanical Engineering</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=chemical-engineering"
                          >Chemical Engineering</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=civil-engineering"
                          >Civil Engineering</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=biology">Biology </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=physics">Physics </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=chemistry">Chemistry</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=environmental-studies"
                          >Environmental Studies</a
                        >
                      </li>
                      <li>
                        <a href="#home/courses?category=agricultural-science"
                          >Agricultural Science</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#">
                      <span class="icon"><i class="fas fa-chess"></i></span>
                      <span>LANGUAGE </span>
                      <span class="has-sub-category"
                        ><i class="fas fa-angle-right"></i
                      ></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a href=""><i class="fas fa-angle-left"></i>Menu</a>
                      </li>
                      <li class="go-back">
                        <a href="">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-chess"></i></span>
                          LANGUAGE
                        </a>
                      </li>
                      <li>
                        <a href="#home/courses?category=english">English</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=yoruba">Yoruba</a>
                      </li>
                      <li><a href="#home/courses?category=igbo">Igbo</a></li>
                      <li><a href="#home/courses?category=hausa">Hausa</a></li>
                      <li>
                        <a href="#home/courses?category=chinese">Chinese</a>
                      </li>
                      <li>
                        <a href="#home/courses?category=french">French</a>
                      </li>
                    </ul>
                  </li>
                  <li class="all-category-devided mt-2 mb-0 p-0">
                    <a href="#home/courses" class="py-3">
                      <span class="icon"
                        ><i class="fa fa-align-justify"></i
                      ></span>
                      <span>All courses</span>
                    </a>
                  </li>
                </ul>
              </li>

              <div class="mobile-menu-helper-bottom"></div>
            </ul>
          </div>

          <form class="inline-form" action="#home/search" method="get">
            <div class="input-group search-box mobile-search">
              <input
                type="text"
                name="query"
                class="form-control"
                placeholder="Search for courses"
              />
              <div class="input-group-append">
                <button class="btn" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>

          <div class="instructor-box menu-icon-box">
            <div class="icon">
              <a href="#user">Instructor</a>
            </div>
          </div>

          <div class="instructor-box menu-icon-box">
            <div class="icon">
              <a href="#home/my_courses">My courses</a>
            </div>
          </div>

          <div class="wishlist-box menu-icon-box" id="wishlist_items">
            <div class="icon">
              <a href=""><i class="far fa-heart"></i></a>
              <span class="number">1</span>
            </div>
            <div
              class="dropdown course-list-dropdown corner-triangle top-right"
            >
              <div class="list-wrapper">
                <div class="item-list">
                  <ul>
                    <li>
                      <div class="item clearfix">
                        <div class="item-image">
                          <a href="">
                            <img
                              src="#uploads/thumbnails/course_thumbnails/course_thumbnail_default_26.jpg"
                              alt=""
                              class="img-fluid"
                            />
                          </a>
                        </div>
                        <div class="item-details">
                          <a href="#home/course/questence-ss1-mathematics/26">
                            <div class="course-name">
                              Questence SS1 Mathematics
                            </div>
                            <div class="instructor-name">
                              By Instructor-01 Questence
                            </div>

                            <div class="item-price">
                              <span class="current-price">Free</span>
                            </div>
                          </a>
                          <button>Already purchased</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="dropdown-footer">
                  <a href="#home/my_wishlist">Go to wishlist</a>
                </div>
              </div>
              <div class="empty-box text-center d-none">
                <p>Your wishlist is empty.</p>
                <a href="">Explore courses</a>
              </div>
            </div>
          </div>

          <div class="cart-box menu-icon-box" id="cart_items">
            <div class="icon">
              <a href="javascript::" onclick="showCartPage()"
                ><i class="fas fa-shopping-cart"></i
              ></a>
              <span class="number">0</span>
            </div>

            <div
              class="dropdown course-list-dropdown corner-triangle top-right"
            >
              <div class="list-wrapper">
                <div class="item-list">
                  <ul></ul>
                </div>
                <div class="dropdown-footer">
                  <div class="cart-total-price clearfix">
                    <span>Total:</span>
                    <div class="float-right">
                      <span class="current-price"></span>
                    </div>
                  </div>
                  <a href="#home/shopping_cart">Go to cart</a>
                </div>
              </div>
              <div class="empty-box text-center d-none">
                <p>Your cart is empty.</p>
                <a href="">Keep Shopping</a>
              </div>
            </div>
          </div>

          <div class="user-box menu-icon-box">
            <div class="icon">
              <a href="javascript::">
                <img
                  src="#uploads/user_image/placeholder.png"
                  alt=""
                  class="img-fluid"
                />
              </a>
            </div>
            <div class="dropdown user-dropdown corner-triangle top-right">
              <ul class="user-dropdown-menu">
                <li class="dropdown-user-info">
                  <a href="">
                    <div class="clearfix">
                      <div class="user-image float-left">
                        <img src="#uploads/user_image/placeholder.png" alt="" />
                      </div>
                      <div class="user-details">
                        <div class="user-name">
                          <span class="hi">Hi,</span>
                          juwa victor
                        </div>
                        <div class="user-email">
                          <span class="email">juwavictor@gmail.com</span>
                          <span class="welcome">Welcome back</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="user-dropdown-menu-item">
                  <a href="#home/my_courses"
                    ><i class="far fa-gem"></i>My courses</a
                  >
                </li>
                <li class="user-dropdown-menu-item">
                  <a href="#home/my_wishlist"
                    ><i class="far fa-heart"></i>My wishlist</a
                  >
                </li>
                <li class="user-dropdown-menu-item">
                  <a href="#home/my_messages"
                    ><i class="far fa-envelope"></i>My messages</a
                  >
                </li>
                <li class="user-dropdown-menu-item">
                  <a href="#home/purchase_history"
                    ><i class="fas fa-shopping-cart"></i>Purchase history</a
                  >
                </li>
                <li class="user-dropdown-menu-item">
                  <a href="#home/profile/user_profile"
                    ><i class="fas fa-user"></i>User profile</a
                  >
                </li>
                <li class="dropdown-user-logout user-dropdown-menu-item">
                  <a href="#login/logout/user">Log out</a>
                </li>
              </ul>
            </div>
          </div>

          <span class="signin-box-move-desktop-helper"></span>
          <div class="sign-in-box btn-group d-none">
            <button
              type="button"
              class="btn btn-sign-in"
              data-toggle="modal"
              data-target="#signInModal"
            >
              Log In
            </button>

            <button
              type="button"
              class="btn btn-sign-up"
              data-toggle="modal"
              data-target="#signUpModal"
            >
              Sign Up
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
