ul.makeText li,
ul.makeText li a,
ul.makeText a,
.zoomText {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  color: #777777;
  font-size: 12px;
}
ul,
li,
a {
  font-weight: normal;
  font-style: normal;
}

/*


input[type="text"].serach::-moz-placeholder {
  font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    color: #777777;
    font-size: 16px;
}

body, div, aside, main , section,p,a,h1,h2,h3,h4,h5,h6{
   font-family:Source Sans Pro,Arial,sans-serif;  
}


input::-webkit-input-placeholder {
    font-size: 16px;
     font-weight: normal;
     font-style: normal;
    color: #777777;
     font-family:Source Sans Pro,Arial,sans-serif;
    
}

li, li a, a{
   font-family:Source Sans Pro,Arial,sans-serif;
}



input[type="text"].serach::-webkit-input-placeholder { 
 font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    color: #777777;
    font-size: 16px;
}
input[type="text"].serach::-moz-placeholder { 
   font-family:Source Sans Pro,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #777777;
    font-size: 16px;
}
input[type="text"].serach:-ms-input-placeholder { 
   font-family:Source Sans Pro,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #777777;
    font-size: 16px;
}
input[type="text"].serach:-moz-placeholder { 
 font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    color: #777777;
    font-size: 16px;
}




*/

/*3 columns modal*/

.extends-3-cols {
  width: 600px;
}

.extends-3-cols a:nth-child(n) {
  float: left;
  width: 265px;
  margin-right: 5px;
  margin-left: 6px;
}

.extends-3-cols a:nth-child(2n) {
  float: left;
  width: 265px;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 6px;

  /*padding: 5px;*/
}

/*.extends-3-cols a:nth-child(3n){
  float: right;
   margin: 10px;
  margin-right: 320px;
}*/

.dropdown-cols-2 .dropdown-menu {
  min-width: 400px;
  margin-left: 140px;
  margin-top: -40px;
}
.dropdown-cols-2 .dropdown-menu > div {
  float: left;
  padding: 10px 20px;
}
.dropdown-cols-2 .dropdown-menu ul {
  margin: 0;
  padding: 0;
}
.dropdown-cols-2 .dropdown-menu li {
  list-style: none;
}

.extension {
  height: 25px;
  line-height: 10px;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .dropdown-cols-2 .dropdown-menu {
    min-width: 140px;
  }
}

.dropdown-cols-2:hover .dropdown-menu {
  display: block;
}

.dropdown-cols-2 .dropdown-menu h5 {
  /*font-family: "Montserrat", sans-serif;*/
  text-transform: uppercase;
  font-size: 14px;
}
.dropdown-cols-2 a {
  color: #666;
}

.dropdown-menu a:nth-child(odd) {
  /*background-color: #cccccc;*/
  float: left;
  margin: 5px;
  width: 150px;
}
.dropdown-menu a:nth-child(even) {
  /*background-color: #FFFFFF;*/
  margin: 5px;
  float: right;
  width: 150px;
}

.me-checked:hover .userdropdown {
  display: block;
}

a,
.fm {
  font-family: "0pen Sans";
}
