nav li {
   position: relative;
}
 nav > ul {
   display: flex;
}
 nav li a {
   display: block;
   padding: 10px 15px;
   background: green;
   border: 3px solid green;
   font-size: 1.25em;
   color: #fff;
   text-decoration: none;
   white-space: nowrap;
   transition: all 0.3s;
}
 nav li a:hover {
   background: #fff;
   color: green;
}
 nav ul ul {
   visibility: hidden;
   opacity: 0;
   min-width: 150px;
   position: absolute;
   top: 150%;
   left: 0;
   transition: all 0.3s;
}
 nav ul li:hover > ul {
   top: 100%;
   visibility: visible;
   opacity: 1;
}
 nav ul ul ul {
   left: 100%;
}
 nav ul ul li:hover > ul {
   top: 0;
}
 nav {
   max-width: 1000px;
   margin: 25px auto;
}