nav.set_navigation li {
   position: relative;

   background-color:#fff;
}
 nav.set_navigation > ul {
   display: flex;

}
 nav.set_navigation li a {
   display: block;
   padding: 5px 10px;
   background: #fff;
 
   font-size: 14px;
   color: #000;
   text-decoration: none;
   white-space: nowrap;
   transition: all 0.3s;
}
 nav.set_navigation li a:hover {
   background: #fff;
   color: #000;
}
 nav.set_navigation ul ul {
   visibility: hidden;
   opacity: 0;
   min-width: 150px;
   position: absolute;
   top: 150%;
   left: 0;
   transition: all 0.3s;
}






 nav.set_navigation ul li:hover > ul {
   top: 100%;
   visibility: visible;
   opacity: 1;
}
 nav.set_navigation ul ul ul {
   left: 100%;
}
 nav.set_navigation ul ul li:hover > ul {
   top: 0;
}
/* nav {
   max-width: 1000px;
   margin: 25px auto;
}*/