.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 130%;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 120%;
  /*margin-left: -50px;
     margin-right: -50px;*/
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  /*top: 50%;*/
  top: 0%;
  /*transform: translateY(-50%);*/
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  /*left: -60px;*/
  right: -120px;
}

.right-arrow {
  right: -60px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}

/*


.image-mix {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
*/

.product:hover .img {
  opacity: 0.3;
}

:root {
  --color1: rgba(68, 68, 68, 0.6);
  --color2: rgba(68, 68, 68, 0.6);
  --color3: rgba(68, 68, 68, 0.6);
  --color4: rgba(68, 68, 68, 0.6);
}

.bookset {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.info,
.info2 {
  width: 200%;

  height: 100%;
  margin: 5%;
  position: absolute;

  top: -20%;

  left: -50%;
  right: -50%;

  z-index: 2000000;
  background: #fff;
  display: none;

  margin: 40px;
  margin-left: 70px;

  box-shadow: 10px 0px 5px 0px var(--color1), 0px 10px 5px 0px var(--color2),
    -10px 0px 5px 0px var(--color3), 0px -10px 5px 0px var(--color4);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
  z-index: ;

  position: absolute;
  /* top: -20px;*/
  left: -50px;
  right: -50px;
  padding: 35px 40px 22px;
  background-color: #fff;
  box-shadow: 0 10px 30px 11px rgb(0 0 0 / 25%);
  /*visibility: hidden;*/

  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  z-index: 100;
  transition: none;
}

.stori-line:hover {
  color: rgba(8, 23, 200);
}

.info2 {
  margin-top: 75px;
  padding: 10px;
  height: 110%;
  width: 135%;
  top: -20%;
  display: none;

  left: -20%;
  right: -20%;
  z-index: 9999999;

  /*-moz-box-shadow: -15px 5px 15px -7px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: -15px 5px 15px -7px rgba(68, 68, 68, 0.6);
  box-shadow: -15px 5px 15px -7px rgba(68, 68, 68, 0.6);*/

  /*box-shadow: 0 0 10px rgba(68, 68, 68, 0.6);
    -moz-box-shadow: 0 0 10px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(68, 68, 68, 0.6);
    -o-box-shadow: 0 0 10px rgba(68, 68, 68, 0.6);*/

  box-shadow: 10px 0px 5px 0px var(--color1), 0px 10px 5px 0px var(--color2),
    -10px 0px 5px 0px var(--color3), 0px -10px 5px 0px var(--color4);

  position: absolute;
  /*top: -20px;*/
  left: -50px;
  right: -50px;
  padding: 35px 40px 22px;
  background-color: #fff;
  box-shadow: 0 10px 30px 11px rgb(0 0 0 / 25%);
  /*visibility: hidden;
    opacity: 0;*/
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  z-index: 100;
  transition: none;
}
.bookset .image {
  text-align: center;
  position: relative;
  top: 50%;
}
.bookset:hover .info,
.bookset:hover .info2 {
  display: block;
  /*transform: scale(0.9);
    z-index: 300000;*/
}

.bookset:hover:nth-child(4n) .info,
.bookset:hover:nth-child(4n) .info2 {
  /*  background: red;*/
  margin-left: -90px;
}

.bookset:hover:nth-child(2n + 1) .info,
.bookset:hover:nth-child(2n + 1) .info2 {
  /*  background: red;*/
  margin-left: 0px;
}

.bookset:hover:nth-child(4n + 2) .info,
.bookset:hover:nth-child(4n + 2) .info2 {
  /*  background: red;*/
  margin-left: 0px;
}

.bookset:hover + .bookset {
  z-index: -2000000;
}

.stm_lms_courses__single--info_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px 18px;
}

.seedetail:hover {
  background: green;
}

.stm_lms_course__meta {
  padding: 0 5px;
  margin: 0 0 10px;
  color: #273044;
  font-size: 13px;
  vertical-align: top;
}
