* {
  box-sizing: border-box;
  font-family: "0pen Sans";
}

.product img:hover,
.course-image img:hover {
  padding: 10px;

  font-family: "0pen Sans";
}
.row-spread::after {
  content: "";
  clear: both;
  display: table;
  font-family: "0pen Sans";
}

.rightward {
  float: right;
  margin-right: 0px;
  position: absolute;
  font-family: "0pen Sans";
}

.shown {
  display: none;
  font-family: "0pen Sans";
}

.hide {
  display: block;
  font-family: "0pen Sans";
}



.center_div {
  margin: 20px auto;
  font-family: "0pen Sans";
}

.left_adjust {
  margin-left: 30px;
  font-family: "0pen Sans";
}
.wpb_column {
  margin-bottom: 10px;
  font-family: "0pen Sans";
}

.millow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: -5px;
  font-family: "0pen Sans";
}

.wpb_column img {
  /*width: 100%;*/
  font-family: "0pen Sans";
}

[class*="col-merge-"] {
  float: left;
  padding: 15px;
  font-family: "0pen Sans";
}

.video-reset-size {
  width: 300px;
  height: 400px;
  min-height: 490px;
  min-width: 300px;
  font-family: "0pen Sans";
}

[class*="col-merge-right-"] {
  float: right;
  padding: 15px;
  font-family: "0pen Sans";
}

/* For mobile phones: */
[class*="col-merge-"] {
  width: 100%;
  font-family: "0pen Sans";
}

.margin-topup {
  margin-top: -20px;
  font-family: "0pen Sans";
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-merge-s-1 {
    width: 8.33%;
    font-family: "0pen Sans";
  }
  .col-merge-s-2 {
    width: 23.66%;
    font-family: "0pen Sans";
  }
  .col-merge-s-3 {
    width: 25%;
    float: left;
    font-family: "0pen Sans";
  }
  .col-merge-s-4 {
    width: 33.33%;
    float: left;
    font-family: "0pen Sans";
  }
  .col-merge-s-5 {
    width: 41.66%;
    font-family: "0pen Sans";
  }
  .col-merge-s-6 {
    width: 50%;
    font-family: "0pen Sans";
  }
  .col-merge-s-7 {
    width: 58.33%;
    font-family: "0pen Sans";
  }
  .col-merge-s-8 {
    width: 66.66%;
    font-family: "0pen Sans";
  }
  .col-merge-s-9 {
    width: 75%;
    font-family: "0pen Sans";
  }
  .col-merge-s-10 {
    width: 83.33%;
    font-family: "0pen Sans";
  }
  .col-merge-s-11 {
    width: 91.66%;
    font-family: "0pen Sans";
  }
  .col-merge-s-12 {
    width: 100%;
    font-family: "0pen Sans";
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-merge-d1 {
    width: 8.33%;
    font-family: "0pen Sans";
  }
  .col-merge-d2 {
    width: 16.66%;
    font-family: "0pen Sans";
  }
  .col-merge-d3 {
    /*width: 25%;*/
    width: 26%;
    float: left;
    font-family: "0pen Sans";
  }
  .col-merge-d4 {
    width: 33.33%;
    font-family: "0pen Sans";
  }
  .col-merge-d5 {
    width: 41.66%;
    font-family: "0pen Sans";
  }
  .col-merge-d6 {
    width: 50%;
    font-family: "0pen Sans";
  }
  .col-merge-d7 {
    width: 58.33%;
    font-family: "0pen Sans";
  }
  .col-merge-d8 {
    width: 66.66%;
    font-family: "0pen Sans";
  }
  .col-merge-d9 {
    width: 75%;
    font-family: "0pen Sans";
  }
  .col-merge-d10 {
    width: 83.33%;
    font-family: "0pen Sans";
  }
  .col-merge-d11 {
    width: 91.66%;
    font-family: "0pen Sans";
  }
  .col-merge-d12 {
    width: 100%;
    font-family: "0pen Sans";
  }
  font-family: "0pen Sans";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*menu section show only icons*/
  .cart {
    font-family: "0pen Sans";
  }

  .img-fluid,
  .course-title,
  .course-instructor,
  .course-subtitle,
  .course-price {
    width: 100%;
    font-family: "0pen Sans";
  }

  .shown {
    display: none;
    font-family: "0pen Sans";
  }
  .hide {
    display: block;
    font-family: "0pen Sans";
  }
  /*hero section*/
  .hero-section {
    margin: 10px auto;
    font-family: "0pen Sans";
  }
  .hero-animation-img {
    display: none;
    font-family: "0pen Sans";
  }

  /*.move-into-mobile{
  text-align: center;
  margin-left: 50px;
}*/

  .product-set {
    width: 100%;

    font-family: "0pen Sans";
  }

  .card-1box {
    margin: 20px;
    font-family: "0pen Sans";
  }

  .card-box:hover .info,
  .card-box:hover .info2 .product-view:hover .info,
  .product-view:hover .info2,
  .info,
  .info2 {
    display: none;
    opacity: 0;
    font-family: "0pen Sans";
  }

  .head__style-1,
  .mobile-centry {
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-family: "0pen Sans";
  }

  .mobile-centrybtn {
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-family: "0pen Sans";
  }

  .bump-up-text {
    font-size: 30px;
    font-family: "Open Sans";
    font-family: "0pen Sans";
  }

  .entry-center {
    /*width: 100px;*/
    margin: 0 auto;
    display: block;
  }

  /*show items as single auto slide show on mobile*/

  .carousel,
  .carousel2,
  .carousel3 {
    justify-content: flex-start;
    overflow: hidden;
    /* padding: 40px 0;*/

    position: relative;
    /*width: 100vw;*/
    font-family: "0pen Sans";
  }

  .carousel > .container,
  .carousel2 > .container,
  .carousel3 > .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 600ms;
    font-family: "0pen Sans";
  }

  .carousel > nav,
  .carousel2 > nav,
  .carousel3 > nav {
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100vw;
    z-index: 1;
    display: none;
    font-family: "0pen Sans";
  }

  .carousel > nav a,
  .carousel2 > nav a,
  .carousel3 > nav a {
    color: #000;
    font-size: 14px;
    opacity: 0.2;
    text-decoration: none;
    font-family: "0pen Sans";
  }

  .carousel > nav a:hover,
  .carousel2 > nav a:hover,
  .carousel3 > nav a:hover {
    opacity: 0.5;
    font-family: "0pen Sans";
  }

  .carousel > nav a.current,
  .carousel2 > nav a.current,
  .carousel3 > nav a.current {
    opacity: 1;
    font-family: "0pen Sans";
  }

  .carousel .slide,
  .carousel2 .slide,
  .carousel3 .slide {
    /*flex-shrink: 0;
  line-height: 1.4;*/
    text-align: center;
    /*  width: 100vw;*/
    margin: 10px;
    margin-left: -15px;
    margin-right: 15px;

    font-family: "0pen Sans";
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero-animation-img {
    display: none;
    font-family: "0pen Sans";
  }
  .hide {
    display: block;
    font-family: "0pen Sans";
  }

  .shown {
    display: none;
    font-family: "0pen Sans";
  }

  .img-fluid,
  .course-title,
  .course-instructor,
  .course-subtitle,
  .course-price {
    width: 100%;
    font-family: "0pen Sans";
  }
  .head__style-1 {
    font-size: 30px;
    font-family: "0pen Sans";
  }

  font-family: "0pen Sans";
}

.act-cat {
  width: 100%;
  margin: 4px;
  font-family: "0pen Sans";
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .product-set {
    width: 100%;
    margin: 0 auto;
    font-family: "0pen Sans";
  }

  .act-cat {
    width: 100%;
    margin: 4px;
    margin: 0 auto;
    font-family: "0pen Sans";
  }

  /*.card-box:hover .info, .product-view:hover .info, .info{
    display: none;
    font-family: "0pen Sans";
}*/

  font-family: "0pen Sans";
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hide {
    display: none;
    font-family: "0pen Sans";
  }
  .shown {
    display: block;
    font-family: "0pen Sans";
  }

  body,
  section,
  div {
    overscroll-x: hidden;
    font-family: "0pen Sans";
  }

  .video-reset-size {
    z-ndex: 999999999999999999;
    min-height: 490px;
    width: 800px;
    min-width: 400px;
    position: absolute;
    margin: 50px auto;
    margintop: 40px;
    height: 300px;
    font-family: "0pen Sans";
  }

  .hero-animation-img {
    display: block;
    font-family: "0pen Sans";
  }

  .left_adjust {
    margin-left: 0px;
    font-family: "0pen Sans";
  }

  .act-cat {
    width: 100%;
    margin: 4px;
    font-family: "0pen Sans";
  }

  .product-set {
    margin: 0 auto;
    font-family: "0pen Sans";
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .shown {
    display: block;
    font-family: "0pen Sans";
  }

  .hide {
    display: none;
    font-family: "0pen Sans";
  }

  .hero-animation-img {
    display: block;
    font-family: "0pen Sans";
  }

  .left_adjust {
    margin-left: 0px;
    font-family: "0pen Sans";
  }

  .act-cat {
    width: 115px;
    margin: 4px;
    font-family: "0pen Sans";
  }
  font-family: "0pen Sans";
}

/*see password*/
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-family: "0pen Sans";
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  /*home page*/
  .react-box {
    width: 100%;
    font-family: "0pen Sans";
  }

  .card-1box {
    margin: -5px;
    margin-top: 10px;
    font-family: "0pen Sans";
  }

  .infomation {
    font-size: 14px;

    font-family: "0pen Sans";
  }

  .reset-h6 {
    line-height: 90px;
    font-family: "0pen Sans";
  }
  .given-height-testimonial {
    height: 350px;
    font-size: 12px;
    font-family: "0pen Sans";
  }

  .readable-content-testimony {
    margin-top: -60px;
    font-family: "0pen Sans";
  }

  /*course page*/
  #reset-display {
    margin: 15px;
    font-family: "0pen Sans";
  }

  font-family: "0pen Sans";
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .react-box {
    width: 100%;
    font-family: "0pen Sans";
  }

  .reset-h6 {
    line-height: 90px;
    font-family: "0pen Sans";
  }

  .card-1box {
    margin: -5px;
    margin-top: 10px;
    font-family: "0pen Sans";
  }

  .infomation {
    font-size: 16px;

    font-family: "0pen Sans";
  }

  .hero-section {
    padding: 5px;
    margin: 20px;
    font-family: "0pen Sans";
  }
  .given-height-testimonial {
    height: 350px;
    font-size: 12px;
    font-family: "0pen Sans";
  }
  .readable-content-testimony {
    margin-top: -60px;
    font-family: "0pen Sans";
  }

  /*course page*/
  #reset-display {
    margin: 15px;
    font-family: "0pen Sans";
  }

  font-family: "0pen Sans";
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .react-box {
    width: 100%;
    font-family: "0pen Sans";
  }
  .card-1box {
    margin: -5px;
    margin-top: 10px;

    margin: 5px;
    font-family: "0pen Sans";
  }

  .infomation {
    font-size: 16px;

    font-family: "0pen Sans";
  }

  .hero-section {
    padding: 5px;
    margin: 20px;
    font-family: "0pen Sans";
  }

  .hero-made-text {
    width: 100%;
    min-width: 100%;
    font-family: "0pen Sans";
  }
  .given-height-testimonial {
    height: 350px;
    font-size: 12px;
    font-family: "0pen Sans";
  }
  .readable-content-testimony {
    margin-top: -60px;
    font-family: "0pen Sans";
  }

  /*course page*/
  #reset-display {
    margin: 15px;
    font-family: "0pen Sans";
  }

  font-family: "0pen Sans";
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .react-box {
    width: 250px;
    font-family: "0pen Sans";
  }
  .hero-section {
    padding: 5px;
    margin: 20px;
    font-family: "0pen Sans";
  }

  .infomation {
    font-size: 16px;

    font-family: "0pen Sans";
  }
  .given-height-testimonial {
    height: 350px;
    font-size: 12px;
    font-family: "0pen Sans";
  }

  /*course page*/
  #reset-display {
    margin: 15px;
    font-family: "0pen Sans";
  }

  font-family: "0pen Sans";
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .react-box {
    width: 250px;
    font-family: "0pen Sans";
  }

  font-family: "0pen Sans";
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .react-box {
    width: 250px;
    font-family: "0pen Sans";
  }

  font-family: "0pen Sans";
}





.parent-div-centering {
  position: relative;
}
.child-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.parent-div-flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}